<!DOCTYPE html>
<html lang="en" ng-app="orderApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Заказ чего-либо</title>

    <!-- Bootstrap -->
    <link href="/static/build/main.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="/static/scripts/vendors/angular.min.js"></script>
    <script src="/static/scripts/vendors/angular-route.min.js"></script>
    <script src="/static/scripts/vendors/angular-resource.js"></script>

    <script src="/static/build/main.js"></script>
  </head>
  <body style="margin-top: 20px;">
    <div class="container">
      <div class="row" ng-controller="AlertController">
        <alert ng-repeat="alert in messages" type="info" close="closeAlert($index)" dismiss-on-timeout="5000">{{alert}}</alert>
      </div>
    </div>
    <div class="container" ng-view>
    </div>
  </body>
</html>
