
    <table class="table">
      <thead ng-show="productList.length">
        <tr>
          <th>Название товара</th>
          <th>Цена</th>
          <th width="5%">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in productList track by $index">
          <td>{{ item.title }}</td>
          <td>{{ item.price }}</td>
          <td>
            <button class="btn btn-default" ng-click="removeFromCart(item)">убрать</button>
          </td>
        </tr>
        <tr ng-hide="productList.length">
          <td colspan="2">Список товаров пуст</td>
        </tr>
      </tbody>
    </table>