<div class="row">
  <div class="col-sm-12">
    <h1>Список заказов</h1>

    <table class="table">
      <thead ng-show="orderList.length">
        <tr>
          <th>Дата</th>
          <th>Клиент</th>
          <th>Телефон</th>
          <th width="5%">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in orderList track by $index">
          <td>{{ item.date | asDate | date:'yyyy-MM-dd HH:mm' }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.phone }}</td>
          <td><button class="btn btn-default" ng-click="showDetails(item);">подробнее</button></td>
        </tr>
        <tr ng-hide="orderList.length">
          <td>Все заказы закрыты</td>
        </tr>
      </tbody>
    </table>

    <p><a href="#/product-list">К каталогу товаров</a></p>
  </div>
</div>