<div class="row">
  <div class="col-sm-12">
    <h1>Подтверждение заказа</h1>
    <cart objects="cartContent"></cart>

    <form name="OrderDetail" ng-submit="finishOrder()">
      <div class="form-group" ng-class="{'has-error': OrderDetail.name.$invalid && OrderDetail.name.$dirty}">
        <label for="name">Имя</label>
        <input type="text" ng-model="userName" class="form-control" id="name" name="name" placeholder="напр., Вася" required>
        <span class="help-block" ng-show="OrderDetail.name.$error.required && OrderDetail.name.$dirty">
          Обязательное поле.
        </span>
      </div>
      <div class="form-group" ng-class="{'has-error': OrderDetail.phone.$invalid && OrderDetail.phone.$dirty}">
        <label for="phone">Номер телефона</label>
        <input type="text" ng-model="userPhone" valid-phone class="form-control" id="phone" name="phone" placeholder="+7 (911) 911-11-22" required>
        <span class="help-block" ng-show="OrderDetail.phone.$error.phone">
          Номер телефона может содержать цифры, скобки, "-" и должен быть от 10 до 18 символов в длинну.
        </span>
      </div>
      <button class="btn btn-primary">Подтвердить заказ</button>
    </form>

  </div>
</div>