<div class="row" ng-show="cartContent.length">
  <div class="col-sm-12">
    <h2>Корзина</h2>

    <cart objects="cartContent"></cart>

    <a class="btn btn-primary" href="#/order">Далее</a>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h1>Товары</h1>

    <table class="table">
      <thead ng-hide="!filteredItems.length">
        <tr>
          <th>Название товара</th>
          <th>Цена</th>
          <th width="5%">&nbsp;</th>
        </tr>
      </thead>
      <tbody>

        <tr ng-repeat="item in filteredItems  = (productList|filter:notInCart) track by $index">
          <td>{{ item.title }}</td>
          <td>{{ item.price }}</td>
          <td><button class="btn btn-default" ng-click="addToCart(item)">добавить в корзину</button></td>
        </tr>


        <tr ng-show="!filteredItems.length">
          <td colspan="2">Вы уже добавили все товары из каталога</td>
        </tr>

      </tbody>
    </table>

    <p><a href="#/order-list">К списку заказов</a></p>
  </div>
</div>